/*Fonts*/

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-gray: #c5c5c5;
  --very-light-gray: #eaeaea;
  --dark-gray:#a9a9a9;
  --basic-background: #f1f5f7;
  --basic-dark-blue: #293449;
  --middle-dark-blue: #32425c;
  --basic-dark-blue_alt: #3d546f;
  --deep-dark-blue: #161d29;
  --basic-green: #63a63e;
  --light-green: #5FBB2D;
  --basic-pink-red: #ee3643;
  --dark-pink-red: #ba2732;
  --middle-dark-pink-red:#ca2c37;
  --deep-dark-pink-red: #ba2732;
  --materials_delivery: #ffbf47;
  --instrument: #3bbce3;
  --technics: #dc91d8;
  --sales:#8ed78f;
  --light-brown: #f9f5f0;

}

/*Global*/

body {
  min-width: 940px;
  font-family: "Cuprum", "Arial", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main navigation*/

.main-navigation-wrapper-blue {
  background-color: var(--basic-dark-blue);
  height: 42px;
}

/*--User navigation first part--*/

.user-navigation-first-part {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.user-navigation-first-part-logo-technomart {
  display: block;
  width: 220px;
  height: 47px;
  background-color: var(--basic-pink-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-technomart {
  margin: 12px 56px 17px 56px;
}

.user-navigation-first-part-logo-technomart:focus {
  background-color: var(--dark-pink-red);
}

.user-navigation-first-part-search-form {
  position: relative;
  box-sizing: border-box;
  width: 271px;
  height: 42px;
  background-color: transparent;
}

.user-navigation-first-part-search-form input {
  width: 228px;
  height: 21px;
  margin: 11px 4px 9px 42px;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.user-navigation-first-part-search-form input::placeholder {
  color: var(--basic-white);
}

.user-navigation-first-part-search-form input:active::placeholder {
  opacity: 0.3;
}

.user-navigation-first-part-search-form label::before {
  content:"";
  position: absolute;
  background-position: 0 0;
  width: 17px;
  height: 17px;
  background-image: url("../img/loop.svg");
  top: 12px;
  left: 18px;
  opacity: 0.3;
}

.user-navigation-first-part-search-form label:hover::before {
  opacity: 1;
}

.user-navigation-first-part-search-form label:active::before {
  opacity: 0.3;
}

.user-navigation-first-part-bookmarks-form {
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  width: 150px;
  height: 42px;
  background-color: transparent;
}

.user-navigation-first-part-bookmarks-form:active {
  background-color: var(--deep-dark-blue);
}

.user-navigation-first-part-bookmarks-form label {
  padding: 2px;
  margin: 8px 4px 10px 43px;
}

.user-navigation-first-part-bookmarks-form input {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  width: 15px;
  color:var(--basic-white)
}

.user-navigation-first-part-bookmarks-form label:active,
.user-navigation-first-part-bookmarks-form input:focus {
  opacity: 0.3;
}

.user-navigation-first-part-bookmarks-form label::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  background-image: url("../img/bookmark.svg");
  top: 13px;
  left: 21px;
  opacity: 0.3;
}

.user-navigation-first-part-bookmarks-form label:hover::before {
  opacity: 1;
}

.user-navigation-first-part-bookmarks-form label:active::before {
  opacity: 0.3;
}

.user-navigation-first-part-basket-form {
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  text-align: center;
  background-color: transparent;
}

.user-navigation-first-part-basket-form:active {
  background-color: var(--deep-dark-blue);
}

.user-navigation-first-part-basket-form label {
  padding: 2px;
  margin: 8px 4px 10px 43px;
}

.user-navigation-first-part-basket-form input {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 15px;
  color:var(--basic-white)
}

.user-navigation-first-part-basket-form label:active,
.user-navigation-first-part-basket-form input:focus {
  opacity: 0.3;
}

.user-navigation-first-part-basket-form label::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  background-image: url("../img/trade-cart.svg");
  top: 14px;
  left: 21px;
  opacity: 0.3;
}

.user-navigation-first-part-basket-form label:hover::before {
  opacity: 1;
}

.user-navigation-first-part-basket-form label:active::before {
  opacity: 0.3;
}

.user-navigation-first-part-purchase-button {
  width: 150px;
  height: 42px;
  margin-left: -1px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.user-navigation-first-part-purchase-button:hover {
  background-color: var(--light-green);
}

.user-navigation-first-part-purchase-button:focus span {
  opacity: 0.3;
}

.user-navigation-first-part-purchase-button:focus {
  background-color: var(--basic-green);
}

/*--User navigation second part--*/

.main-navigation-wrapper-gray {
  background-color: var(--basic-background);
  height: 278px;
}

.user-navigation-second-part {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-second-part-description {
  margin: 0;
  margin-top: 37px;
  margin-left: 30px;
  padding: 0;
  width: 197px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-pink-red)
}

.user-navigation-phone {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 270px;
  padding: 4px 42px 5px 71px;
  border: 3px solid var(--basic-white);
  margin-top: 41px;
  margin-left: 93px;
  color: var(--basic-pink-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.user-navigation-phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  background-position: 0 0;
  width: 19px;
  height: 19px;
  top: 11px;
  left: 39px;
}

.user-navigation-address {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  padding-left: 103px;
}

.login-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 121px;
  height: 45px;
  margin-top: 41px;
  margin-left: 69px;
  padding: 12px 27px 12px 45px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-link:hover {
  color: var(--basic-pink-red);
}

.login-link:focus {
  color: var(--light-gray);
}

.login-image {
  position: absolute;
  left: 19px;
  top: 13px
}

.login-image:hover path {
  fill: var(--basic-dark-blue_alt);
}

.login-image:active path {
  fill: var(--light-gray);
}

.registration-link {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 41px;
  margin-left: 10px;
  padding: 12px 24px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.registration-link:hover {
  color: var(--basic-pink-red);
}

.registration-link:focus {
  color: var(--light-gray);
}

/*--Main navigation--*/

.site-navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.site-navigation-item {
  padding: 16px 24px 20px 27px;
  background-color: var(--middle-dark-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}

.site-navigation-item:first-child {
  padding: 16px 31px 20px 52px;
}

.site-navigation-item:last-child {
  padding: 16px 47px 20px 60px;
}

.site-navigation-item:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-item:focus {
  background-color: var(--basic-dark-blue);
}

.site-navigation-item a {
  color: var(--basic-white);
}

.site-navigation-item a:focus {
  opacity: 0.5;
}

/*Main*/

/*--Features--*/

.features {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  grid-template-areas:
    "materials instruments technics"
    "catalog catalog sales"
    "catalog catalog delivery";
  gap: 20px 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin-top: 59px;
}

.features-title {
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: 0;
}

.features-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-top: 14px;
  margin-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 135px;
}

.features-button-layer {
  position: absolute;
  top: 64px;
  left: 22px;
}

.features-button-layer:hover path {
  fill: var(--light-gray);
}

.features-button-layer:active path {
  fill: var(--dark-gray);
}

.materials {
  position: relative;
  grid-area: materials;
  background-color: var(--materials_delivery);
}

.materials::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  background-position: 0 0;
  background-image: url("../img/materials-icon.svg");
  left: 214px;
  top: 31px;
}

.features-catalog-new {
  position: absolute;
  top: 0;
  right: 0;
}

.instruments {
  position: relative;
  grid-area: instruments;
  background-color: var(--instrument);
}

.instruments::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 61px;
  background-position: 0 0;
  background-image: url("../img/instruments-icon.svg");
  left: 194px;
  top: 34px;
}

.technics {
  position: relative;
  grid-area: technics;
  background-color: var(--technics);
}

.technics::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 62px;
  background-position: 0 0;
  background-image: url("../img/technics-icon.svg");
  left: 191px;
  top: 31px;
}

.catalog {
  position: relative;
  grid-area: catalog;
  position: relative;
  background-image: url("../img/catalog.jpg");
  background-color: var(--basic-white);
}

.catalog::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 41px;
  background-position: 0 0;
  background-image: url(../img/toggle-button-catalog.svg);
  top: 122px;
  left: 24px;
}

.catalog::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 41px;
  background-position: 0 0;
  background-image: url(../img/toggle-button-catalog.svg);
  top: 122px;
  left: 578px;
  transform: rotate(180deg);
}

.features-title-special {
  margin: 0;
  margin-top: 23px;
  margin-left: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  z-index: 3;
}

.features-subtitle-special {
  margin: 0;
  margin-top: 5px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.features-link-special {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-top: 113px;
  margin-left: 24px;
  padding: 11px 46px 9px 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 192px;
  background-color: var(--basic-pink-red);
}

.features-link-special:hover {
  background-color: var(--middle-dark-pink-red);
}

.features-link-special:focus {
  background-color: var(--deep-dark-pink-red);
}

.catalog-shape {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.sales {
  position: relative;
  grid-area: sales;
  background-color: var(--sales);
}

.sales::after {
  position: absolute;
  content: "";
  width: 59px;
  height: 72px;
  background-position: 0 0;
  background-image: url("../img/sales-icon.svg");
  left: 196px;
  top: 26px;
}

.delivery {
  position: relative;
  grid-area: delivery;
  background-color: var(--materials_delivery);
}

.delivery::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 63px;
  background-position: 0 0;
  background-image: url("../img/delivery-icon.svg");
  left: 191px;
  top: 32px;
}

/*--Popular products--*/

.popular-products {
  margin-top: 59px;
}

.popular-products-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: var(--light-brown);
  font-weight: 400;
}

.popular-products-title {
  margin: 0;
  margin-top: 29px;
  margin-left: 28px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  color: var(--middle-dark-blue);
  text-transform: uppercase;
  font-weight: 400;
}

.popular-products-link {
  display: inline-block;
  box-sizing: border-box;
  width: 192px;
  margin: 25px 14px 26px 442px;
  padding: 11px 24px 9px 24px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-pink-red);
  color: var(--basic-white);
  text-transform: uppercase;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  font-family: PT Sans;
  font-weight: 700;
}

.popular-products-list-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--very-light-gray);
}

.products-list-item-first .popular-products-list-item-image {
  margin-top: 5px;
  margin-left: 18px;
  margin-bottom: 8px;
  order: 0;
}

.products-list-item-second {
  position: relative;
}

.products-list-item-second::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background-position: 0 0;
  background-image: url("../img/catalog-new.svg");
  top: 0;
  left: 149px;
}

.products-list-item-second .popular-products-list-item-image {
  margin-top: 28px;
  margin-left: 40px;
  margin-bottom: 37px;
  order: 0;
}

.products-list-item-third .popular-products-list-item-image {
  margin-top: 21px;
  margin-left: 33px;
  margin-bottom: 27px;
  order: 0;
}

.products-list-item-fouth {
  position: relative;
}

.products-list-item-fourth::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background-position: 0 0;
  background-image: url("../img/catalog-new.svg");
  top: 0;
  left: 149px;
}

.products-list-item-fourth .popular-products-list-item-image {
  margin-top: 28px;
  margin-left: 40px;
  margin-bottom: 37px;
  order: 0;
}

.popular-products-list-item-title {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  margin-left: 18px;
  margin-right: 17px;
  padding: 0;
  order: 1;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  height: 43px;
}

.popular-products-list-item-old-price {
  display: inline-block;
  width: 172px;
  height: 18px;
  order: 2;
  font-size: 17px;
  line-height: 18px;
  margin: 7px 24px 13px 24px;
  text-align: center;
  color: var(--dark-gray);
  text-decoration-line: line-through;
}

.popular-products-list-item-button {
  box-sizing: border-box;
  order: 3;
  border: none;
  outline: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 65px;
  margin-top: 10px;
  margin-left: 79px;
  margin-bottom: 30px;
  color: var(--basic-white);
  background-color: transparent;
}

.product-item-shape {
  position: absolute;
  top: 259px;
  left: 47px;
  z-index: -1;
}


